.news-bg-1 {
	background-image: url(../images/Alluvial/rice.jpg);
  }
  
  .news-bg-2 {
	background-image: url(../images/Alluvial/grapes.jpg);
  }
  
  .news-bg-3 {
	background-image: url(../images/Alluvial/Sugarcane.jpg);
  }
  
  .news-bg-4 {
	background-image: url(../images/Alluvial/Maize.jpg);
  }
  
  .news-bg-5 {
	background-image: url(../images/Alluvial/cucumbers.jpg);
  }
  
  .news-bg-6 {
	background-image: url(../images/Alluvial/bananas.jpg);
  }
  .news-bg-7 {
	background-image: url(../images/Alluvial/cinnamon.jpg);
  }
  .news-bg-8 {
	background-image: url(../images/Alluvial/coconut.jpg);
  }
  .news-bg-9 {
	background-image: url(../images/Alluvial/Tea.jpg);
  }
  .news-bg-10 {
    background-image: url(../images/Alluvial/pineapples.jpg);
    }
    
  