.news-bg-1 {
	background-image: url(../images/black/Kurakkan.jpeg);
  }
  
  .news-bg-2 {
	background-image: url(../images/Alluvial/Maize.jpg);
  }
  
  .news-bg-3 {
	background-image: url(../images/black/Sesame.jpg);
  }
  
  .news-bg-4 {
	background-image: url(../images/black/Mustard.jpg);
  }
  
  .news-bg-5 {
	background-image: url(../images/black/watermelon.jpg);
  }
  
  .news-bg-6 {
	background-image: url(../images/black/Groundnut.jpg);
  }
  .news-bg-7 {
	background-image: url(../images/black/brinjal.jpg);
  }
  .news-bg-8 {
	background-image: url(../images/Alluvial/okra.jpg);
  }
  .news-bg-9 {
    background-image: url(../images/black/Chillies.jpg);
    }
  