.news-bg-1 {
	background-image: url(../images/Clay/Tomatoes.jpg);
  }
  
  .news-bg-2 {
	background-image: url(../images/Clay/leeks.jpg);
  }
  
  .news-bg-3 {
	background-image: url(../images/Clay/beans.jpg);
  }
  
  .news-bg-4 {
	background-image: url(../images/Clay/potatoes.jpg);
  }
  
  .news-bg-5 {
	background-image: url(../images/Clay/sweet\ potatoes.jpg);
  }
  
  .news-bg-6 {
	background-image: url(../images/Clay/carrots.jpg);
  }
  .news-bg-7 {
	background-image: url(../images/Clay/Cassava.jpg);
  }
  .news-bg-8 {
	background-image: url(../images/Clay/Turmeric.jpg);
  }
  .news-bg-9 {
	background-image: url(../images/Clay/strawberries.jpg);
  }
  .news-bg-10 {
    background-image: url(../images/Clay/Onion.jpg);
    }
  