.news-bg-1 {
	background-image: url(../images/red/Papaya.jpg);
  }
  
  .news-bg-2 {
	background-image: url(../images/red/Radishes.jpg);
  }
  
  .news-bg-3 {
	background-image: url(../images/red/Groundnut.jpg);
  }
  
  .news-bg-4 {
	background-image: url(../images/red/Sesame.jpg);
  }
  
  .news-bg-5 {
	background-image: url(../images/red/chili.jpg);
  }
  
  .news-bg-6 {
	background-image: url(../images/red/Cowpeas.jpg);
  }
  .news-bg-7 {
	background-image: url(../images/Alluvial/Maize.jpg);
  }
  .news-bg-8 {
	background-image: url(../images/red/black\ paper.jpg);
  }
  .news-bg-9 {
	background-image: url(../images/red/Carrots.jpg);
  }
  .news-bg-10 {
    background-image: url(../images/black/Mustard.jpg);
    }
  