.news-bg-1 {
    background-image: url(../images/Alluvial/pineapples.jpg);
    }
.news-bg-2 {
    background-image: url(../images/Alluvial/Pumpkin-Yellow.jpg);
    }
.news-bg-3 {
    background-image: url(../images/black/watermelon.jpg);
    }
.news-bg-4 {
    background-image: url(../images/Clay/sweet\ potatoes.jpg);
    }
.news-bg-5 {
    background-image: url(../images/red/Groundnut.jpg);
    }
.news-bg-6 {
    background-image: url(../images/Alluvial/okra.jpg);
    }
.news-bg-7 {
    background-image: url(../images/red/black\ paper.jpg); 
    }
.news-bg-8 {
    background-image: url(../images/Alluvial/bitter-gourd.jpg);
    }
.news-bg-9 {
    background-image: url(../images/Alluvial/cucumbers.jpg);
    }
      