{% extends 'layout.html' %} {% block body %}

	<head>
		<title>Black Soil</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/output.css" />
		<link rel="stylesheet" href="static/css/black.css" />
		<!-- bootstrap -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<style>
		table{
				box-shadow: 0px 10px 20px 0px rgb(0 0 0/20%);
			}
		table, th, td {
		  border:1px solid rgb(88, 88, 88);
		}
		th, td{
			padding: 5px;
		}
	</style>
		
	</head>
	<body>

				<!-- Header -->
		<header>
			<!-- Predict Soil -->
			<div class="latest-news pt-80 pb-150">
				<div class="container">

					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="section-title">	
								<h3><span class="orange-text">Black</span> Soil</h3>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-1"></div>
								<div class="news-text-box">
									<h3>Millets - මෙනේරි - தினை</h3>
									<p class="excerpt">Millets plants can grow well at soil pH range between 5.5 and 7.5.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										April  
										<br>
										November
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-4"></div>
								<div class="news-text-box">
									<h3>Mustard - අබ - கடுகு</h3>
									<p class="excerpt">Mustard plants can grow well at soil pH range between 5.5 and 6.8.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										Maha season - October to November   
										<br>
										Yala season - April to May 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-3"></div>
								<div class="news-text-box">
									<h3>Sesame - තල- கத்திகள்</h3>
									<p class="excerpt">Sesame plants can grow well at soil pH range between 5 and 8.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										Maha season - September to October 
										<br>
										Yala season - March to April 
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-2"></div>
								<div class="news-text-box">
									<h3>Maize - බඩ ඉරිඟු - இனிப்பு சோளம்</h3>
									<p class="excerpt">Maize plants can grow well at soil pH range between 4.5 and 8.0.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										Jan to Feb & June to July  
										<br>
										September to October
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-5"></div>
								<div class="news-text-box">
									<h3>Watermelon - කොමඩු - தர்பூசணி</h3>
									<p class="excerpt">Watermelon plants can grow well at soil pH range between 6.0 and 6.8.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										mid-January to March  
										<br>
										<br>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-6"></div>
								<div class="news-text-box">
									<h3>Groundnut - රටකජු - வேர்க்கடலை </h3>
									<p class="excerpt">Groundnut plants can grow well at soil pH range between 5.5 and 6.7.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										September to March   
										<br>
										May to end of August
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-7"></div>
								<div class="news-text-box">
									<h3>Brinjal-වම්බටු-கத்தரிக்காய்</h3>
									<p class="excerpt">Brinjal plants can grow well at soil pH range between 6.0 and 7.0.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										June to July   
										<br>
										December to January
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-8"></div>
								<div class="news-text-box">
									<h3>Okra-බණ්ඩක්කා-ஓக்ரா</h3>
									<p class="excerpt">Kurakkan plants can grow well at soil pH range between 5.8 and 6.8.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										Late April or May  
										<br>
										Early September to October
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-9"></div>
								<div class="news-text-box">
									<h3>chili - මිරිස් - மிளகாய்</h3>
									<p class="excerpt">Chillies plants can grow well at soil pH range between 6.5 and 7.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										September to March   
										<br>
										May to August
									</p>
								</div>
							</div>
						</div>
					</div>
					<h2 style="margin-top: 50px;">Other</h2>	
					<div class="row">
						<div style="margin-left: 20px; margin-top: 50px;">
							<table>
								<tr>
								  <th>Crop Name</th>
								  <th>Ph value (between)</th>
								  <th>Cultivation Seasons</th>
								</tr>
								<tr>
									<td>Tomato-තක්කාලි-தக்காளி</td>
									<td>6.2 and 6.8</td>
									<td>March and May</td>
								</tr>
								<tr>
									<td>Pumpkin-වට්ටක්කා-பூசணி</td>
									<td>6.0 and 6.8</td>
									<td>early May through June</td>
								</tr>
								<tr>
									<td>Bitter gourd-කරවිල-பாகற்காய்</td>
									<td>6.0 and 7.0</td>
									<td>January to February, May</td>
								</tr>
								<tr>
									<td>Soybeans - සෝයා බෝංචි - சோயாபீன்ஸ்</td>
									<td>6.0 and 7.0</td>
									<td>April to September & <br>October to March  </td>
								</tr>
								<tr>
									<td>Papayas-පැපොල්-பப்பாளி</td>
									  <td>4.5 and 8.0</td>
									  <td>February to march, June to 
									<br>July, October to November</td>
								</tr>
								<tr>
									<td>Guavas-පේර-கொய்யாப்பழம்</td>
									<td>5.5 and 7.5</td>
									<td>Any time of the year</td>
								</tr>
								<tr>
									<td>Grapes - මිදි - திராட்சை</td>
									<td>5.5 and 8.5</td>
									<td>August-September &<br> January-February</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
						<!-- end latest news -->
		</header>

				<!-- Footer -->
		<footer id="footer">
						
		</footer>
	</body>
</html>
{% endblock %}