{% extends 'layout.html' %} {% block body %}

	<head>
		<title>Clay Soil</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/output.css" />
		<link rel="stylesheet" href="static/css/clay.css" />
		<!-- bootstrap -->
		<link rel="stylesheet" href="static/css/bootstrap.css">
		<style>
			table{
				box-shadow: 0px 10px 20px 0px rgb(0 0 0/20%);
			}
			table, th, td {
			border:1px solid rgb(88, 88, 88);
			}
			th, td{
				padding: 5px;
			}
		</style>
	</head>
	<body>

				<!-- Header -->
		<header>
						<!-- Predict Soil -->
			<div class="latest-news pt-80 pb-150">
				<div class="container">

					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="section-title">	
								<h3><span class="orange-text">Clay</span> Soil</h3>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-1"></div>
								<div class="news-text-box">
									<h3>Tomatoes - තක්කාලි - தக்காளி</h3>
									<p class="excerpt">Tomatoes plants can grow well at soil pH range between 6.2 and 6.8.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										March to May
										<br>
										<br>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-2"></div>
								<div class="news-text-box">
									<h3>Leeks - ලීක්ස් - லீக்ஸ்</h3>
									<p class="excerpt">Leeks plants can grow well at soil pH range between 6.0 and 7.0.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										Any time of the year. 
										<br>
										Leeks can take four months or more for harvest
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-4"></div>
								<div class="news-text-box">
									<h3>Potatoes-අර්තාපල්-உருளைக்கிழங்கு.</h3>
									<p class="excerpt">Potatoes plants can grow well at soil pH range between 6.0 and 6.5.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										March, April or May
										<br>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-5"></div>
								<div class="news-text-box">
									<h3>Sweet Potatoes-බතල-இனிப்பு உருளைக்கிழங்கு</h3>
									<p class="excerpt">Sweet Potatoes plants can grow well at soil pH range between 5.5 and 6.5.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										March and extends through April
										<br>
										<br>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-9"></div>
								<div class="news-text-box">
									<h3>Strawberries-ස්ට්‍රෝබෙරි-ஸ்ட்ரோபெர்ரி</h3>
									<p class="excerpt">Strawberries plants can grow well at soil pH range between 5.3 and 6.5.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										September to October
										<br>
										<br>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-7"></div>
								<div class="news-text-box">
									<h3>Cassava-මඤ්ඤොක්කා-மரவள்ளிக்கிழங்கு</h3>
									<p class="excerpt">Cassava plants can grow well at soil pH range between 5.5 and 7.5.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										October
										<br>
										<br>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-8"></div>
								<div class="news-text-box">
									<h3>Turmeric - කහ -  மஞ்சள்</h3>
									<p class="excerpt">Turmeric plants can grow well at soil pH range between 4.5 and 7.5.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										March to April
										<br>
										<br>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-6"></div>
								<div class="news-text-box">
									<h3>Carrots - කැරට් - கேரட்</h3>
									<p class="excerpt">Carrots plants can grow well at soil pH range between 6.0 and 7.0.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										February to July
										<br>
										<br>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-10"></div>
								<div class="news-text-box">
									<h3>Onion-ළූණු-வெங்காயம்</h3>
									<p class="excerpt">Onion plants can grow well at soil pH range between 5.8 and 6.6.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										October and November
										<br>
										January to May
									</p>
								</div>
							</div>
						</div>
					</div>
					<h2 style="margin-top: 50px;">Other</h2>	
					<div class="row">
						<div style="margin-left: 20px; margin-top: 50px;">
							<table>
								<tr>
								  	<th>Crop Name</th>
								  	<th>Ph value (between)</th>
								  	<th>Cultivation Seasons</th>
								</tr>
								<tr>
								  	<td>Beets-බීට් - மற்றும் பீட்</td>
								  	<td>6.3 and 7.3</td>
								  	<td>March or April through to July.</td>
								</tr>
								<tr>
								  	<td>Beans-බෝංචි-பீன்ஸ்</td>
								  	<td>6 and 7</td>
								  	<td>May to August & <br>November to February</td>
								</tr>
								<tr>
									<td>Radishes-රාබු-முள்ளங்கி</td>
									<td>6 and 7</td>
									<td>November and February</td>
								</tr>
								<tr>
									<td>Garlic-සුදුළූණු-பூண்டு</td>
									<td>5.5 and 7.0</td>
									<td>November to December </td>
								</tr>
							</table>			
						</div>	
					</div>
				</div>
			</div>
						<!-- end latest news -->
		</header>

				<!-- Footer -->
		<footer id="footer">
						
		</footer>
	</body>
</html>
{% endblock %}
