{% extends 'layout.html' %} {% block body %}

	<head>
		<title>Red Soil</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/css/output.css" />
		<link rel="stylesheet" href="static/css/Alluvial.css" />
		<link rel="stylesheet" href="static/css/black.css" />
		<link rel="stylesheet" href="static/css/red.css" />
		<!-- bootstrap -->
	<link rel="stylesheet" href="static/css/bootstrap.css">
	<style>
		table, th, td {
		  border:1px solid rgb(88, 88, 88);
		}
		th, td{
			padding: 5px;
		}
	</style>	
	</head>
	<body>

		<!-- Header -->
		<header>
		<!-- Predict Soil -->
			<div class="latest-news pt-80 pb-150">
				<div class="container">

					<div class="row">
						<div class="col-lg-8 offset-lg-2 text-center">
							<div class="section-title">	
								<h3><span class="orange-text">Red</span> Soil</h3>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-4 col-md-6">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-1"></div>
								<div class="news-text-box">
									<h3>Papaya-පැපොල්-பப்பாளி</h3>
									<p class="excerpt">Papaya plants can grow well at soil pH range between  4.5 and 8.0.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										February to march, June to July    
										<br>
										October to November
									</p>	
								</div>
							</div>
						</div>
						
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-4"></div>
								<div class="news-text-box">
									<h3>Sesame-තල-கத்திகள்</h3>
									<p class="excerpt">Sesame plants can grow well at soil pH range between 5.0 and 8.0.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										Maha season - mid-September -October   
										<br>
										Yala season - mid-March -early April  
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-5"></div>
								<div class="news-text-box">
									<h3>Chili-මිරිස්-மிளகாய் </h3>
									<p class="excerpt">Chili plants can grow well at soil pH range between 6.5 and 7.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										September to March   
										<br>
										May to August
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-3"></div>
								<div class="news-text-box">
									<h3>Groundnut-රටකජු-வேர்க்கடலை</h3>
									<p class="excerpt">Groundnut plants can grow well at soil pH range between 5.5 and 6.7.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										September to March    
										<br>
										May to end of August
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-6"></div>
								<div class="news-text-box">
									<h3>Cowpeas-කව්පි-கவ்பி</h3>
									<p class="excerpt">Cowpeas plants can grow well at soil pH range between 4.3 and 7.9.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										September to March    
										<br>
										May to end of August
										<br>
										<br>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-7"></div>
								<div class="news-text-box">
									<h3>Maize - බඩ ඉරිඟු - இனிப்பு சோளம்</h3>
									<p class="excerpt">Maize plants can grow well at soil pH range between 4.5 and 8.0.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										Jan to Feb & June to July  
										<br>
										September to October
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-8"></div>
								<div class="news-text-box">
									<h3>Black pepper-ගම්මිරිස්-மிளகு</h3>
									<p class="excerpt">Black Pepper plants can grow well at soil pH range between 5.5 and 6.5 .
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										May to June  
										<br>
										<br>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-9"></div>
								<div class="news-text-box">
									<h3>Carrots-කැරට්-கேரட்</h3>
									<p class="excerpt">Carrots plants can grow well at soil pH range between 6.0 and 7.0.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										February to July
										<br>
										<br>
									</p>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
							<div class="single-latest-news">
								<div class="latest-news-bg news-bg-10"></div>
								<div class="news-text-box">
									<h3>Mustard-අබ-கடுகு</h3>
									<p class="excerpt">Mustard plants can grow well at soil pH range between 5.5 and 6.8.
										<br><br>
										<b>Cultivation Seasons</b>
										<br>
										Maha season - October to November   
										<br>
										Yala season - April to May 
									</p>
								</div>
							</div>
						</div>
					</div>
					<h2 style="margin-top: 50px;">Other</h2>	
					<div class="row">
						<div style="margin-left: 20px; margin-top: 50px;">
							<table>
								<tr>
								  	<th>Crop Name</th>
								  	<th>Ph value (between)</th>
								  	<th>Cultivation Seasons</th>
								</tr>
								<tr>
								  	<td>Mung Bean-මුං ඇට-பச்சை பீன்ஸ்</td>
								  	<td>6.2 and 7.2</td>
								  	<td>November to December & March and April<br>.</td>
								</tr>
								<tr>
									<td>Radishes-රාබු-முள்ளங்கி</td>
									<td>6.0 and 7.0</td>
									<td>November and February</td>
								</tr>
								<tr>
									<td>Mustard - අබ - கடுகு</td>
									<td> 5.5 and 6.8</td>
									<td>October to November & April to May</td>
								</tr>
								<tr>
									<td>Coffee-කෝපි-கொட்டைவடி நீர்</td>
									<td>5.0 to 6.0</td>
									<td>during November </td>
								</tr>
							</table>			
						</div>	
					</div>
				</div>
			</div>
						<!-- end latest news -->
		</header>

				<!-- Footer -->
		<footer id="footer">
						
		</footer>
	</body>
</html>
{% endblock %}
